# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
gradlew.bat
gradle/wrapper/gradle-wrapper.properties
gradlew
gradle/wrapper/gradle-wrapper.jar
README.txt
Paulscode SoundSystem CodecIBXM License.txt
Paulscode IBXM Library License.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
forge-1.12.2-14.23.4.2708-changelog.txt
CREDITS-fml.txt
